{% extends 'base.html' %}

{% block title %}课程表{% endblock %}

{% block main %}

<div class="container mt-4">
    <div class="row justify-content-end">
        <div class="col-md-4">
            <form action="" method="post" class="d-flex">
                <input type="text" name="form_student" placeholder="输入课程名称查询成绩" class="form-control me-2" />
                <input type="submit" value="查询" class="btn btn-primary" />
                <a href="/course-add" class="btn btn-secondary ms-2">增加</a>
            </form>
        </div>
    </div>


    {% if name_keyword == "" %}
    <p>请重新输入</p>
    {% elif students == [] %}
    <p>查无此人</p>
    {% else %}
    <div class="row mt-4">
        <div class="col">
            <table class="table table-striped">
                <caption>课程表 共{{ courses | length }}条记录</caption>
                <thead class="thead-light">
                    <tr>
                        <th>课程编号</th>
                        <th>课程名称</th>
                        <th>开办学院</th>
                        <th>任课教师</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    {% for course in courses %}
                    <tr>
                        <td>{{ course.course_order }}</td>
                        <td>{{ course.course_name }}</td>
                        <td>{{ course.college }}</td>
                        <td>{{ course.teacher }}</td>
                        <td>
                            <a href="/course-correct/{{ course.course_order }}" class="btn btn-info btn-sm">修改</a>
                            <a href="/course-delete/{{ course.course_order }}" class="btn btn-danger btn-sm"
                                onclick="return confirmDelete('{{ course.course_order }}')">删除</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% endif %}
</div>

{% endblock %}