<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>课程修改页</title>
</head>

<body>
    <form action="" method="post">
        <table>
            <caption>修改课程信息（课程号不可修改）</caption>
            <tr>
                <td>课程名称</td>
                <td>开办学院</td>
                <td>任课教师</td>
            </tr>
            <tr>
                <td><input name="course_name" placeholder="修改的课程名称" type="text" /></td>
                <td><input name="college" placeholder="修改的开办学院" type="text" /></td>
                <td><input name="teacher" placeholder="修改的任课教师" type="text" /></td>
                <td><input type="submit" value="提交修改" /></td>
            </tr>
        </table>
    </form>
</body>

</html>