{% extends 'base.html' %}

{% block title %}学生表{% endblock %}

{% block main %}
<div class="container mt-4">
    <form action="" method="post">
        <table class="table">
            <caption>修改课程信息（课程号不可修改）</caption>
            <tr>
                <td>课程名称</td>
                <td>开办学院</td>
                <td>任课教师</td>
            </tr>
            <tr>
                <td><input name="name" placeholder="修改的课程名称" type="text" class="form-control" /></td>
                <td><input name="college" placeholder="修改的开办学院" type="text" class="form-control" /></td>
                <td><input name="teacher" placeholder="修改的任课教师" type="text" class="form-control" /></td>
                <td><input type="submit" value="提交修改" class="btn btn-primary" /></td>
            </tr>
        </table>
    </form>
</div>
{% endblock %}