{% extends 'base.html' %}

{% block title %}首页{% endblock %}

{% block main %}

<div class="container text-center mt-5">
    <h1 class="mb-4">欢迎来到教务管理系统:)</h1>

    <div class="d-grid gap-3">
        <a href="{{ url_for('course.course') }}" class="btn btn-primary btn-lg"
            style="width: max-content; padding: 10px 20px; margin: 0 auto;">课程表</a>
        <a href="{{ url_for('student.student') }}" class="btn btn-primary btn-lg"
            style="width: max-content; padding: 10px 20px; margin: 0 auto;">学生表</a>
        <a href="{{ url_for('score.score') }}" class="btn btn-primary btn-lg"
            style="width: max-content; padding: 10px 20px; margin: 0 auto;">分数表</a>
    </div>
</div>

{% endblock %}