<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>分数修改页面</title>
</head>

<body>
    <form action="" method="post">
        <table>
            <caption>修改学生成绩（学号不可修改）</caption>
            <tr>
                <td>姓名</td>
                <td>语文</td>
                <td>数学</td>
                <td>英语</td>
                <td>操作</td>
            </tr>
            <tr>
                <td><input name="name" placeholder="修改的姓名" type="text" /></td>
                <td><input name="chinese" placeholder="修改的语文成绩" type="text" /></td>
                <td><input name="math" placeholder="修改的数学成绩" type="text" /></td>
                <td><input name="english" placeholder="修改的英语成绩" type="text" /></td>
                <td><input type="submit" value="提交修改" /></td>
            </tr>
        </table>
    </form>
</body>

</html>