{% extends 'base.html' %}

{% block title %}学生表{% endblock %}

{% block main %}
<div class="container mt-4">
    <form action="" method="post">
        <table class="table">
            <caption>修改学生成绩（学号不可修改）</caption>
            <tr>
                <th>姓名</th>
                <th>语文</th>
                <th>数学</th>
                <th>英语</th>
                <th>操作</th>
            </tr>
            <tr>
                <td><input name="name" placeholder="修改的姓名" type="text" class="form-control" /></td>
                <td><input name="chinese" placeholder="修改的语文成绩" type="text" class="form-control" /></td>
                <td><input name="math" placeholder="修改的数学成绩" type="text" class="form-control" /></td>
                <td><input name="english" placeholder="修改的英语成绩" type="text" class="form-control" /></td>
                <td><input type="submit" value="提交修改" class="btn btn-primary" /></td>
            </tr>
        </table>
    </form>
</div>
{% endblock %}