{% extends 'base.html' %}

{% block title %}分数表{% endblock %}

{% block main %}

<div class="container mt-4">

    <div class="row justify-content-end">
        <div class="col-md-4">
            <form action="" method="post" class="d-flex">
                <input type="text" name="form_score" placeholder="输入姓名查询成绩" class="form-control me-2" />
                <input type="submit" value="查询" class="btn btn-primary" />
                <a href="/score-add" class="btn btn-secondary ms-2">增加</a>
            </form>
        </div>
    </div>

    {% if name_keyword == "" %}
    <p>请重新输入</p>
    {% elif scores == [] %}
    <p>查无此人</p>
    {% else %}
    <div class="row mt-4">
        <div class="col">
            <table class="table table-striped">
                <caption>成绩表 共{{ scores | length }}条记录</caption>
                <thead class="thead-light">
                    <tr>
                        <th>学号</th>
                        <th>姓名</th>
                        <th>语文</th>
                        <th>数学</th>
                        <th>英语</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    {% for score in scores %}
                    <tr>
                        <td>{{ score.number }}</td>
                        <td>{{ score.name }}</td>
                        <td>{{ score.chinese }}</td>
                        <td>{{ score.math }}</td>
                        <td>{{ score.english }}</td>

                        <td>
                            <a href="/score-correct/{{ score.number }}" class="btn btn-info btn-sm">修改</a>
                            <a href="/score-delete/{{ score.number }}" class="btn btn-danger btn-sm" ,
                                onclick="return confirm_delete_score('{{ score.number }}')">删除</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% endif %}
</div>

{% endblock %}