<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>分数增加页面</title>
</head>

<body>
    <div>
        <form action="" method="post">
            <table>
                <caption>录入学生成绩</caption>
                <tr>
                    <td>学号</td>
                    <td>姓名</td>
                    <td>语文</td>
                    <td>数学</td>
                    <td>英语</td>
                    <td>操作</td>
                </tr>
                <tr>
                    <td><input name="number" placeholder="请输入学号" type="text" /></td>
                    <td><input name="name" placeholder="请输入姓名" type="text" /></td>
                    <td><input name="chinese" placeholder="请输入语文成绩" type="text" /></td>
                    <td><input name="math" placeholder="请输入数学成绩" type="text" /></td>
                    <td><input name="english" placeholder="请输入英语成绩" type="text" /></td>
                    <td><input type="submit" value="提交" /></td>
                </tr>
            </table>
        </form>
    </div>
</body>

</html>