<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>学生信息增加页</title>
</head>

<body>
    <div>
        <form action="" method="post">
            <table>
                <caption>录入学生信息</caption>
                <tr>
                    <td>学号</td>
                    <td>姓名</td>
                    <td>年龄</td>
                    <td>学院</td>
                    <td>专业</td>
                </tr>
                <tr>
                    <td><input name="number" placeholder="请输入学号" type="text" /></td>
                    <td><input name="name" placeholder="请输入姓名" type="text" /></td>
                    <td><input name="age" placeholder="请输入年龄" type="text" /></td>
                    <td><input name="college" placeholder="请输入学院" type="text" /></td>
                    <td><input name="major" placeholder="请输入专业" type="text" /></td>
                    <td><input type="submit" value="提交" /></td>
                </tr>
            </table>
        </form>
    </div>
</body>

</html>